.clients-list {
    display: flex;
    justify-content: center;
  }
  
  .clients-link {
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 170px;
    height: 90px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
  
    &:hover,
    &:focus {
      border: 1px solid $accent-text-color;
    }
  }
  .clients-logo {
    fill: $icon-color;
  
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    .clients-link:hover &,
    .clients-link:focus & {
      fill: $accent-text-color;
    }
  }
  
  .clients-item:not(:last-child) {
    margin-right: 30px;
  }
  